<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <h1><strong>All Companies</strong></h1>
  </div>
</div>

<%= react_component("Paginate", { data: @companies, type: "companies" }, { prerender: true }) %>

<br>

<%= link_to 'New Company', new_company_path %>
